@model RRWebUI.Models.RestaurantVM

@{
    ViewData["Title"] = "Delete";
}

<h1 class = "display-4">Delete Restaurant</h1>

<h3>You sure you want to delete this restaurant?</h3>

<div>
    <dl>
        <dt>
            Id: 
            <span class = "col-sm-10" style = "font-weight: normal;">
                @Html.DisplayFor(model => model.Id)
            </span>
        </dt>
        <dt>
            Name: 
            <span class = "col-sm-10" style = "font-weight: normal;">
                @Html.DisplayFor(model => model.Name)
            </span>
        </dt>
        <dt>
            City: 
            <span class = "col-sm-10" style = "font-weight: normal;">
                @Html.DisplayFor(model => model.City)
            </span>
        </dt>
        <dt>
            State: 
            <span class = "col-sm-10" style = "font-weight: normal;">
                @Html.DisplayFor(model => model.State)
            </span>
        </dt>

        <form asp-action = "Delete">
                <input type = "hidden" asp-for = "Id" > <!-- I passed the Id parameter -->
                <input type = "submit" value = "Delete" class = "btn btn-danger">
                <a asp-action = "Index" class = "btn btn-primary">Back to Restaurant</a>
        </form>
    </dl>
</div>