<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Search for a specific hero</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{heroListFilter}}</h6>
      <input type="text" [(ngModel)] = "HeroListFilter">
      <button class="btn btn-primary" (click) = "goToPokemon()">Pokemon!</button>
    </div>
  </div>

<div class="container">
    <table class="table table-striped">
        <thead>
            <th>
                Image
                <button (click) = "toggleImage()">ToggleImage</button>
            </th>
            <th>Name</th>
            <th>Rank</th>
            <th>Ability</th>
            <th>Organization</th>
        </thead>
        <tbody>
            <tr *ngFor = "let superhero of filteredHeros">
                <td>
                    <img *ngIf="isVisible" [src]="superhero.image" width = "500">
                </td>
                <td>{{superhero.name}}</td>
                <td>{{superhero.rank}}</td>
                <td>{{superhero.ability}}</td>
                <td>{{superhero.organization}}</td>
            </tr>
        </tbody>    
    </table>
</div>