<div @fade class="container">
    <p>{{this.currentPokemon.name}}</p>
    <button id = "buttonOne" class="btn btn-primary" (click) = "getPikachu()">Get Pikachu</button>
</div>

<div @move class="container">
    <form class="form-group" style="width: 30%;" [formGroup]="pokeGroup">
        <label>Pokemon Id</label>
        <input type="text" class="form-control" formControlName = "id">

        <label>Pokemon Name</label>
        <input type="text" class="form-control" formControlName = "name">

        <button class="btn btn-primary" (click) = "getPokemon(pokeGroup)">Submit</button>
    </form>
</div>