<div class = "crop" [style.width.px] = "starWidth" [title] = "rank" (click) = "onStarClick()"> <!-- Event binded to onStarClick() function to test that clicking the star will output a console.log-->
    <div style = "width: 75px;">
        <span class = "fa fa-star"></span> <!-- We created 5 stars that will visualize their rank-->
        <span class = "fa fa-star"></span>
        <span class = "fa fa-star"></span>
        <span class = "fa fa-star"></span>
        <span class = "fa fa-star"></span>
    </div>
</div>