<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{title}} {{10+5}}</h5> <!-- This is an example of Interpolation using "{{}}"-->
      <input type = "text" [(ngModel)] = "HeroListFilter"> {{heroListFilter}}
    </div>
  </div>

  <div>
    <table class="table table-success table-striped">
        <thead>
            <th>Image
                <button (click) = "toggleImage()">{{isVisible ? "Hide" : "Show"}}</button> <!-- This is an example of Event Binding (One-way Data binding)-->
            </th>
            <th>Name</th>
            <th>Rank</th>
            <th>Ability</th>
            <th>Organization</th>
        </thead>
        <tbody>
            <tr *ngFor = "let superhero of filteredSuperheroes">
                <td>
                    <!-- *ngIf is an Angular Structural Directive that removes or show the element in the DOM -->
                    <img *ngIf = "isVisible" [src] = "superhero.image" width = "500"> <!-- This is an example of Property Binding (One-way Data binding)-->
                </td>
                <td [ngClass] = "['red', 'bold']">{{superhero.name}}</td>
                <td>
                    <app-star [rank] = "superhero.rank" (starClick) = "starEventWasTriggered($event)"></app-star>
                </td>
                <td>{{superhero.ability | prepend: "Utility" | uppercase}}</td>
                <td [ngStyle] = "{'color': isVisible ? 'green' : 'red'}">{{superhero.organization}}</td>
            </tr>
        </tbody>
    </table>
  </div>